footer {
    margin-top: 50px;
    text-align: center;
    font-weight: var(--fonte-paragrafo-peso);
    line-height: 1.5;
    padding: 20px;
    background-color: rgba(14, 14, 14, 0.9);
    color: rgb(0, 0, 0);
}

footer a {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

footer p {
    color: rgb(150, 150, 150);
}

.footer__contato {
    display: inline-flex; /* serve pra centralizar a imagem com o texto em seguida, só consegui dessa forma depois de tentar todos os displays */
    align-items: center;
    gap: 5px;
    margin: 0 10px;
}

.icon {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

/* span img .icon {
    stroke: white;
    fill: white;
    color: white;
} Não consegui mudar a cor do .icon*/

@media(max-width: 480px) {
    .footer p{
        width: 60%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}