header {
    padding: 5px 0 0 0;
    top: 0;
    right: 0; 
    left: 0;
    background-color: rgba(14, 14, 14, 0.9);
    backdrop-filter: blur(80px);
    box-shadow: 0 4px 8px rgb(216, 216, 216);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aaaa {
    display: flex;
    flex-direction: column;
}

.header__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
    width: 100%;
    color: rgb(150, 150, 150);
}

.header__imagem {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.header__titulo {
    font-family: var(--fonte-titulo);
    font-weight: var(--fonte-titulo-peso);
    margin: 0;
}

@media(max-width: 480px) {
    .header__titulo {
        font-size: large;
    }    

    .header__foto img {
        width: 75px;
        height: 75px;
    }
}

@media(max-width: 728px) {
    .header__titulo {
        font-size: large;
    }    

    .header__foto img {
        width: 75px;
        height: 75px;
    }
}
