@import url(footer.css);
@import url(header.css);
@import url(nav.css);
@import url(prof.css);
@import url(acad.css);
@import url(pess.css);
@import url(proj.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-titulo: "Rubik";
    --fonte-titulo-peso: 400;
    --cor-de-fundo: #f5f4f0;
    --cor-de-fundo-secundaria: red;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-de-fundo); /* usando a variável criada ali em cima. */
}

main { /* botar uma margin em toda a página, excessão do header */
    margin-left: 20%;
    margin-right: 20%;
}

h2 { /* mudar as cores dos "subtítulos", das IDs */
    font-family: var(--fonte-titulo);
    font-weight: var(--fonte-titulo-peso);
    color: #333;
}

h5 {
    font-family: var(--fonte-titulo);
    font-weight: var(--fonte-titulo-peso);
    color: #333;
    background-color: black;
    background-image: none;
}